
body {
    background-color: deepskyblue;
}

.container {
    margin-top: 3em;
    background-color: rgb(140, 0, 255);
    padding: 3em;
    box-shadow: 0 0 1em blue;
  }

  .navbar-brand {
    color: aquamarine;
    font-size: 3em;
  }


